*{
    margin: 0px;
    padding: 0px;
}

.box{
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: auto;
    font-size: 16px;
}


header{
    width: 100%;
    height: 60px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: orangered;
}

.navbar{
    width: 100%;
    height: 50px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo{
    color: yellow;
    text-shadow: 1px 1px 0 white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-top: -5px;
}

.logo span{
    color: black;
}

.menu ul{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    flex-wrap: wrap;
    display: inline-flex;
    align-items: center;
}

.imgc{
    filter: invert(100%);
}

.menu ul li{
    text-decoration: none;
    padding: 20px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
}

.menu ul li a:hover{
    color: blueviolet;
    transition: 0.5s;
    cursor: pointer;
}

.menu .current a{
    color: cyan;
    font-weight: bold;
}

.menu li:last-child{
    display: none;
}

.product{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    background-color: white;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-bottom: 2px solid orangered;
}

.product h2{
   position: relative; 
}

.product ul{
    display: inline-flex; 
    list-style: none;
    flex-wrap: wrap;
}

.product ul li{
    padding: 20px;
}

.product ul li a{
    text-decoration: none;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.product ul li a:hover{
    color: blueviolet;
    transition: 0.5s;
    cursor: pointer;
}

.product .current a{
    color: cyan;
}

#flow{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#flow .searchbox{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}

.imga{
    filter: invert(100%);
    background-color: blue;
    background-size: 120px 100px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px white;
}


input{
    border: 2px solid orange;
    width: 250px;
    height: 30px;
    border-radius: 35px;
    background: transparent;
    padding: 1px;
    padding-left: 5px;
}

::placeholder{
    color: black;
}

section{
    width: 100%;
    background-color: peachpuff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.home{
    background: linear-gradient(to top, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('bg3.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.home h1{
    color: yellow;
    text-shadow: 1px 1px 0 white;
    margin-top: 8rem;
    margin-left: 10%;
}

.home p{
    color: white;
    text-shadow: 1px 1px 0 black;
    margin-top: 0rem;
    margin-left: 10%;
    font-size: 1.5rem;
}

.about1{
    background-color: rgba(255, 255, 0, 0.781);
    padding: 1.5rem;
    margin: 2rem;
    border-radius: 1.5rem;
    text-shadow: -1px 0,1px 0 white ;
}

.about1 h2{
    color: blue;
}

.about1 p{
    font-size: 1.2rem;
}

.about2{
    background-color: rgba(255, 255, 0, 0.781);
    padding: 1.5rem;
    margin: 2rem;
    border-radius: 1.5rem;
    border-radius: 1.5rem;
    text-shadow: -1px 0,1px 0 white ;
}

.about2 h2{
    color: blue;
}

.about2 p{
    font-size: 1.2rem;
}

.about2 dt{
    color: red;
    font-size: 1.2rem;
}

.about2 ul{
    font-size: 1.2rem;
    margin-left: 1.2rem;
}

#ct{
    width: 100%;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.contact-tainer{
    text-align: center;
    display: flexbox;
    flex-wrap: wrap;
    padding: 10px;
}

.contact-tainer .cont{
    background-color: white;
    border-radius: 5%;
    padding: 0.5rem;
    width: fit-content;
}

.contact-tainer .cont img{
    border-radius: 20%;
}

.contact-tainer .cont button{
    border-color: orangered;
    background-color: transparent;
    border-radius: 0.4rem;
}

.contact-tainer .cont a{
    color: orangered;
    text-decoration: none;
}

#smile{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
}

.product-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    padding: 20px;
}

.produce{
    background-color: white;
    width: 230px;
    height: 250px;
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
    border: 2px solid orangered;
}

.produce img{
    width: 200px;
    height: 200px;
    border-radius: 0.5rem;
    border: 1px solid orangered;
}

.produce h3{
    color: orangered;
}


footer{
    width: 100%;
    background-color: orangered;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: baseline;
    justify-content: space-between;
}

.foot{
    padding: 5px 2rem;
}

#one{
    color: yellow;
    text-shadow: 1px 1px 0 white;
}

#one span{
    color: white;
    text-shadow: 1px 1px 0 black;
}

#two{
    color: yellow;
    text-shadow: 1px 1px 0 white;
}

#three{
    color: yellow;
    text-shadow: 1px 1px 0 white;
}

.dropBox{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: rgba(255, 166, 0, 0.664);
    backdrop-filter: blur(10px);
    box-shadow: -5px 0 5px gray;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    list-style: none;
    padding-top: 30px;
    padding-left: 30px;
}

.imgb{
    filter: invert(100%);
}

.dropBox li{
    width: 300px;
}

.dropBox a{
    color: white;
    text-decoration: none;
}

.dropBox a:hover{
    color: blueviolet;
}

.dropBox .current a{
    color: aqua;
}

.searchBar{
    display: flex;
}
@media only screen and (max-width: 480px){
    html, body{
        width: 100%;
        height: auto;
        font-size: 14px
        overflow: auto;
    }

    .box{
        width: 100%;
        height: auto;
    }

    .product h2, .product ul{
        display: none;
    }

    .menu li:last-child{
        display: flex;
    }

    .menu #pull{
        display: none;
    }

    .searchbox input{
        width: 300px;
    }

    #smile{
        width: 100%;
        overflow: auto;
        display: grid;
        justify-content: space-between;
        align-items: center;
    }

    .product-list{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
        gap: 2px;
        justify-content: center;
        align-items: center;
    }

    .produce img{
        width: 120px;
        height: 150px;
    }

    .produce{
        width: 130px;
        height: 200px;
    }

    .produce h3{
        font-size: 12px;
    }

    footer{
        width: 100%;
    }

    .foot{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .foot #three p{
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .dropBox{
        width: 100%;
    }
}


@media only screen and (max-width: 600px){
    html, body{
        width: 100%;
        height: auto;
        overflow: auto;
    }

    .menu li:last-child{
        display: flex;
    }

    .menu #pull{
        display: none;
    }

    .product h2, .product ul{
        display: none;
    }

    #flow .searchbox{
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-left: 5%;
    }

    .dropBox{
        width: 100%;
    }

    input{
        width: 400px;
    }

    #smile{
        width: 100%;
        display: grid;
        justify-content: space-between;
        align-items: center;
        overflow: auto;
    }

    .product-list{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
        align-items: center;
        justify-content: center;
    }

    footer{
        width: 100%;
    }

    .foot{
        width: 100%;
        display:flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px){
    html, body{
        width: 100%;
        height: auto;
        overflow: auto;
    }

    .menu li:last-child{
        display: flex;
    }

    .menu #pull{
        display: none;
    }

    .product h2, .product ul{
        display: none;
    }

    .dropBox{
        width: 100%;
    }

    #flow .searchbox{
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-left: 5%;
    }

    input{
        width: 600px;
    }

    #smile{
        width: 100%;
        display: grid;
        justify-content: space-evenly;
        align-items: center;
        overflow: auto;
    }

    .product-list{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
        align-items: center;
        justify-content: center;
    }

    footer{
        width: 100%;
    }

    .foot{
        width: 100%;
        display:flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 991px){
    html, body{
        width: 100%;
        height: auto;
        overflow: auto;
    }

    .dropBox{
        width: 100%;
    }
}

@media only screen and (min-width: 992px){
    html, body{
        width: 100%;
        height: auto;
        overflow: auto;
    }
} 

@media only screen and (min-width: 1200px){
    html, body{
        width: 100%;
        height: auto;
        overflow: auto;
    }

}








